<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<h1>회원가입</h1>
<form action="/signup" method="post" th:object="${user}">
    <p>아이디: <input type="text" th:field="*{userId}" /></p>
    <p>비밀번호: <input type="password" th:field="*{password}" /></p>
    <p>이름: <input type="text" th:field="*{username}" /></p>
    <p>주소: <input type="text" th:field="*{address}" /></p>
    <p>전화번호: <input type="text" th:field="*{phone}" /></p>
    <p>email: <input type="text" th:field="*{email}" /></p>
    <p><button type="submit">가입하기</button></p>
</form>
</body>
</html>